.fc a {
  color: white !important;
}
.fc-header-toolbar {
  color: white;
}
.fc-button {
  background-color: white !important;
  color: #1ea0bd !important;
  border: none !important;
}
// .fc .fc-button-primary:not(:disabled):active:focus,
// .fc .fc-button-primary:not(:disabled).fc-button-active:focus {
//   box-shadow: none !important;
// }
