li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
ul li a {
  text-decoration: none;
  list-style-type: none;
  padding: 7px 10px;
  &:hover {
    color: #ffcc00 !important;
  }
}
ul {
  list-style-type: none;
}
.sign {
  li {
    margin-bottom: -15px;
    a {
      padding-top: 10px;
      color: white;
    }
  }
}
.btn-job {
  margin-bottom: 10px;
}
.collapse ul li {
  font-weight: bold;
}
.logo img {
  width: 150px;
  height: 90px;
}
